<img src="{{model.image}}" alt="" />
<h4>{{model.name}}</h4>
<h5>{{model.description}}</h5>
<h4>{{model.price}}</h4>

{{add-rating item=model addRating="addRating"}}

{{ratings-display ratings=model.ratings}}
